body{
    background-color: rgb(212, 212, 212);
}
#nav-bar{
    background-color: rgb(209, 209, 36);
    text-align: center;
    padding: 25px;
}
.tec{
    color: black;
}
.blog{
    color: white;
}
a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: white;
    color:rgb(209, 209, 36);
}
img{
    padding: 15px;
}
.conteudo{
    margin-top: 10px;
    background-color: white;
    width: 670px;
    float: left;
    clear: both;
    margin-left: 100px;
}
#postagem{
    width: 300px;
    background: white;
    float: right;
    margin-top: -680px;
    margin-right: 300px;
}
#categoria{
    width: 300px;
    right: 200px;
    background: white;
    float: right;
    clear: both;
    margin-top: -1060px;
    margin-right: 300px;
}
.rodape{
    clear: both;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: grey;
}
.subtitulos{
    background-color: grey;
    padding: 10px;
    margin: 10px;
}
.titulos{
    color: yellow;
}
p{
    padding: 10px
}
.linksconteudo{
    color: yellow;
    hover
}