body{
    background-color: rgb(189, 189, 189);
}
#nav-bar{
    border: 1px solid red;
    background-color: rgb(209, 209, 36);
    text-align: center;
    padding: 25px;
}
.tec{
    color: black;
}
.blog{
    color: white;
}
a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: white;
    color:rgb(209, 209, 36);
}
.conteudo{
    margin-top: 10px;
    margin-left: 100px;
    border: 1px solid red;
    background-color: white;
    width: 670px;
    height: auto;
    float: left;
}
#postagem{
    margin-top: 10px;
    border: 1px solid red;
    width: 300px;
    right: 300px;
    background: white;
    float: right;
    position: relative;
    top: 250px;
}
#categoria{
    margin-top: 10px;
    border: 1px solid red;
    width: 300px;
    right: 300px;
    background: white;
    float: right;
}
img{
    padding: 15px;
}
.rodape{
    border: 1px solid red;
    margin-left: 100px;
    clear: both;
    position: relative;
    width: 1000px;
    top: 10px;
}