body{
    background-color: rgb(189, 189, 189);
}
#nav-bar{
    border: 1px solid red;
    background-color: rgb(209, 209, 36);
    text-align: center;
    padding: 25px;
}
.tec{
    color: black;
}
.blog{
    color: white;
}
a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: white;
    color:rgb(209, 209, 36);
}
#conteudo{
    margin-top: 10px;
    border: 1px solid red;
    background-color: white;
    width: 700px;
    height: 800px;
}